.header {
    display: flex;
    font-family: 'Bebas Neue', 'Arial', 'Verdana';
    font-size: 40px;
    color: aliceblue;
    background-image: linear-gradient(to right, rgb(69, 113, 196), rgb(22, 37, 104));
    padding: 10px;
    padding-right: 25%;
    justify-content: flex-end;
}

.content {
    display: flex;
}

.sideContainer {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 10px;
}

.btn {
margin: 5px 0px;
}

.searchBtn {
    padding: 5px 0px;
    width: 100%;
    margin-top: 5px;
    border-radius: 4px;
}

.cityInput {
    border-radius: 5px;
    width: 100%;
    border-color: grey;
    margin-bottom: 5px;
}

.display {
    width: 70%;
}

.weatherContainer {
    border-color: black;
    border-style: solid;
    height: 200px;
    width: 100%;
    margin: 10px 0px;
}

.weatherContainer p {
    margin-left: 5px;
    margin-top: 5px;
}

.boldTxt {
    font-size: x-large;
    font-weight: bold;
}

.cardContainer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.card {
    width: auto;
    padding: 2px;
    margin: 2px;
    color: white;
    background-color: rgb(22, 44, 85);
}

.card p {
    padding: 5px;
}

.hidden {
    display: none;
}